body {
  font-family: 'Arial', sans-serif;
  background-color: whitesmoke;
  margin: 0;
  padding: 0;
}


.App {
  text-align: center;
  font-family: Arial, sans-serif;
}

.home {
  margin: 20px;
}

button {
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
}

.scheduler {
  
  padding: 20px;
  background-color: #ffffff;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.scheduler, .payment, .confirmation {
  margin: 20px;
}
h2 {
  color: #4a90e2;
  margin-bottom: 20px;
}

label {
  font-size: 1.1rem;
  color: #333;
  display: block;
  margin-bottom: 8px;
}
select {
  width: 100%;
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-bottom: 20px;
  font-size: 1rem;
  background-color: #f1f5f8;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

ul li {
  background-color: #e3f2fd;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 8px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

ul li:hover {
  background-color: #bbdefb;
}

li {
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ddd;
  margin-bottom: 10px;
  background-color: #f9f9f9;
}

li:hover {
  background-color: #e9e9e9;
}
h4 {
  color: #007bff;
  margin-top: 20px;
}

button {
  padding: 10px 20px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 1rem;
}

button:hover {
  background-color: #0056b3;
}